

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;

}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;

}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;

}

.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/* home */

#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    color: white;
    align-items: center;

    
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("../picture/masthead.jpg") no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.headings{
    font-family: century;
    font-size: 2.5rem;
    text-align: center;
    /* margin: 40px 0px; */
    margin-bottom: 30px;
    

}

.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition:  .6s ease;
}

.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white 0 0 15px white;
    font-weight: bold;
}

/* about section */
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}

.content {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 16px;
    background-color: #fff;
}

.heading-lv1 {
    font-size: 32px;
    font-style: italic;
}

.heading-lv2 {
    font-size: 24px;
    
}

.heading-lv3 {
    font-size: 20px;
}

.heading-margin {
    margin-top: 32px;
}

.text {
    margin: 16px 0 0;
    font-size: 16px;
    line-height: 1.5;
}

.text-center {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.profile-image {
    margin: 16px 0 0;
    text-align: center;
}

.profile-image img {
    width: 300px;
    height: auto;
    border-radius: 50%;
}


a:hover {
    text-decoration: none;
}


/* portfolio section */
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: black;
    box-sizing: border-box;
/*     padding: 90px; */
    margin-bottom: 50px;
    align-items: center;
}

.product-list {
    background-color: #dfe6e9;
    padding: 3em;
  }
  
  .product-list .card {
    background-color: white;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0px 10px 5px #b2bec3;
    text-align: center;
    font-family: "Poppins";
  }
  
  .card .title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .card img {
    width: 406px;
    height: 306px;
    border-radius: 5px;
  }

  
  .card .text {
    text-align: left;
    margin-left: 2em;
    margin-bottom: 0.5em;
    font-size: 12px;
  }
  
  .buy-button {
    background-color: #f9ca24;
    border: none;
    padding: 1em;
    border-radius: 5px;
    font-weight: bold;
    width: 100%;
    cursor: pointer;
  }
  .buy-button:hover {
    box-shadow: 0px 5px 5px #b2bec3;
    color: #eb4d4b;
  }
  
  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
  }
  
  .align-center {
    text-align: center;
  }
 
  
  .card:hover img {
    transform: scale(1.1);
    transition: 1s ease;
  }
  
  .card .details {
    position: relative;
    top: 50px;
    transition: 2s ease;
    visibility: hidden;
    opacity: 0;
  }
  
  .card:hover .details {
    opacity: 1;
    visibility: visible;
    top: 15px;
    transition: 2s ease;
  }

  
  .card:hover .text,
  .card:hover .title {
    opacity: 0;
    transition: 1 ease;
  }
  

  

/* skills */
#skill{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}

.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* box-sizing: border-box; */

    

}

.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 4px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background-size: 100% 200%;
    
}

.img{
    width: 340px;
    height: 472px;
}

.box:hover{
    transform: scale(1.1);
    box-shadow: 1px 2px 10px 5px solid #000;
}

.section-contact {
    /* min-height: 100vh; */
    color:white;
    background-color: black;
    text-align: center;

}

@media only screen and (max-width: 48em) {
    .section-contact {
        -webkit-transition: min-height 100000000s ease;
        transition:min-height 100000000s ease
    }
}

@media only screen and (min-width: 48em) and(max-width: 55em) {
    .section-contact {
        -webkit-transition: min-height 100000000s ease;
        transition:min-height 100000000s ease
    }
}

.section-contact .section-contact-para-wrapper {
    margin-top: 3rem;
    font-size:1.5em;
    
}

.section-contact .section-contact-btn-wrapper {
    position: relative;
    margin:5rem auto 0 auto;
    text-align: center;
    align-items: center;
    
}

.section-contact .section-contact-btn {
    display: inline-block;
    width: 10rem;
    padding: .5em;
    font-weight: 500;
    font-size: 1em;
    color: #2F2F2F;
    background: #fff;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    -webkit-transition: all .5s;
    transition:all .5s;
}

.section-contact .section-contact-btn .btn-icon {
    color: #2F2F2F;
    -webkit-transition: all .5s;
    transition:all .5s;
    
}

.section-contact .section-contact-btn:hover {
    background: #2F2F2F;
    color:#fff;
    text-align: center;
}

.section-contact .section-contact-btn:hover .btn-icon {
    color:#fff;
}

.section-contact .section-contact-btn-icon {
    margin-right:.7rem;
}

.section-contact .section-contact-para-small {
    margin-top: 2rem;
    font-size:1em;
}


.contact_title{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    position: relative ;
    top:20px;

}

